div{
    display: flex;
    /* overflow:auto; */
    /* flex-direction: row; */
 
}
#channel-link{
    display: flex;
    text-decoration: none;
    color:black;
}
#start{
    display: inline-flex; 
    flex-direction: row;
    height:50px;  
    width:20%;
    
}
#middle{
   position: absolute;
   
   /* flex:1; */
   display:inline-flex;
   flex-direction: row;
   height:30px;
   width:50%;
   border: none;
   /* background-color: aqua; */
}
#container{
    border: 1px solid rgb(41, 41, 41);
    border-right: none;
    border-radius: 20px 0 0 20px;
    align-items: center;
    /* background-color: aquamarine; */
    height:100%;
    width:90% ;
}
#search{
    /* background-color: rgb(61, 61, 61); */
    margin-left: 10px;
    height:80%;
    width: 90%;
    padding: 0;
    border:none;
    
}
#container-search-icon{
    
    border:1px solid rgb(41, 41, 41);
    border-radius: 0 20px 20px 0;
    height: 100%;
    width: 8%;
}

button{
    margin:0%;
    border: none;
    background-color:transparent;
}
.menu{
    /* display: inline-block; */
    writing-mode: horizontal-tb;
    /* position: relative; */
    /* left:0; */
    /* border:none; */
    
}
 svg{
    display:inline-block;
    /* margin: 0 5px; */
    
}

#video{
    display: inline-flex;
    flex-direction: column;
    width:60%;
    margin:0;
    
}
#next{
     display:inline-flex;
    /* position: right; */
    flex-direction: column; 
    /* width:20%  */

    position: absolute;
    right:0;
    top: 40px; 
    bottom: 0;
    height: fit-content;
    width: 30%;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-between;
    align-items: stretch;
    /* align-items: right; */
    
}
img{
   
    padding: 5px;
    height: fit-content;
    width:fit-content;
    max-width: 300px;
    border-radius:20px;
}
#img-y{
    background-color: black;
    height:60px;
    /* border-width: 1px; */
    /* border-color: black; */
    border-radius: 50%;
}
.channel{

 margin: auto 10px;
 line-height: 20px;
 font-weight: lighter;
}
sub{
    font-family: sans-serif;
    font-size: small;
}
#description{
    background-color: rgb(246, 246, 246);
    /* margin: 10px; */
    display: inline-flex;
    flex-direction: column;
    /* max-height:8rem; */
    width:100%;
    /* overflow: hidden; */
}

#expand{
    background-color: aqua;
    /* display:flex; */
    position:absolute; 
    bottom: 0;
    left:550px;
    margin: 0;
    width: fit-content;
}
P{
    margin:10px;
    padding: 10px;
}